@import "bootstrap/dist/css/bootstrap.css";
@import "formiojs/dist/formio.full.min.css";

h5{
  margin-top:  24px !important;
  margin-bottom:  24px !important
}

.formio-component{
  margin-bottom:  8px 
}